body{
    font-family: Montserrat, sans-serif;
    text-align: center;
    background: linear-gradient(90deg, grey, white, grey, white, grey, white, grey, white);
}
p{
    text-align: justify;
    width: 1000px;
    margin: auto;
    font-size: 30px;
}